include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Anda, C. (2015) Escuchar es una actitud.", "https://www.usfq.edu.ec/sobre_la_usfq/servicios/educacion/escuela_de_empresas/Documents/articulos/ESCUCHAR%20es%20una%20ACTITUD-CAL-Mayo2015ComentANR.pdf")        +referenciaItem("Conceptos.de (2020). Concepto de oratoria", "https://concepto.de/oratoria/")
        +referenciaItem("Matínez, A. (2020). Estrategias para mejorar la escucha. ", "https://twitter.com/PMIMadridSpain/status/1281331793589866496")
        +referenciaItem("Ortega, E. (2002). Cómo lograr que los demás se salgan con la nuestra. Técnicas de persuasión, negociación y oratoria.", "")
        +referenciaItem("Pinto, H. (2011). Modelo de comunicación según Virgini Satir", "https://es.slideshare.net/HugoPinto4/comunicacin-segn-virginia-satir")
        +referenciaItem("Quintero, Á, M. (1997). Trabajo Social y Procesos Familiares.", "https://catalogo.cecar.edu.co/cgi-bin/koha/opac-detail.pl?biblionumber=7642")
        +referenciaItem("RAE, (2020). Charla.", "https://dle.rae.es/charla")
        +referenciaItem("RAE, (2020). Exposición.", "https://dle.rae.es/exposici%C3%B3n")
        +referenciaItem("Robbins, S. (1996) Administración Teoría y Práctica. Prentice Hall. Hispanoamericana, S.A: México.", "")
        +referenciaItem("Rodríguez, P. (2020) Comunicación oral y escrita. Documento adjunto.", "")
        +referenciaItem("Stoner, J. (1996). Administración. Edit Prentice Hall , S.A. . Edición .México.", "")
        +referenciaItem("Toscano V. (2017). ORATORIA: Cómo Mejorar La Voz Para Hablar Fuerte | Técnicas Para Hablar Bien y Tener Expresión Oral.", "https://www.youtube.com/watch?v=jDTU8FAkWV0")
        +referenciaItem("Toscano V. (2016). Oratoria, Curso para Hablar en Público: 7 Ejercicios para Mejorar la Voz | Técnicas de Volumen #147.", "https://www.youtube.com/watch?v=4lQoCP_wN6k")
               
        
        
 


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            